name: Build and release tour

on:
  push:
    tags:
      - "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"

permissions:
  contents: write  # нужно для создания релиза и загрузки файлов

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.0"

      - name: Build binaries
        run: make

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
